/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
/* @import url('https://use.typekit.net/atg0zvr.css'); */

@import 'tailwindcss';

@import "tw-animate-css";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans-cn: 'Noto Sans SC', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

/*
  ---break---
 */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/*
  ---break---
 */

:root {
  --radius: 0.5rem;
}
