---
import { CommitteeList } from '../components/CommitteeList'
import { COMMITTEE_MEMBERS } from '../consts'
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout>
  <section class="pt-12">
    <h1 class="text-center">Committee Members</h1>
    <div class="-mt-4 text-center text-2xl font-semibold opacity-75">
      (Alphabetical Order)
    </div>
    <div class="mt-15 px-4">
      <CommitteeList committees={COMMITTEE_MEMBERS} />
      <div class="mt-10"></div>
    </div>
  </section>
</PageLayout>
