---
import Layout from '@/layouts/Layout.astro'

const members = [
  {
    name: 'Tao Luo',
    affiliation: 'Shanghai Jiao Tong University',
    url: 'https://www.math.sjtu.edu.cn/Default/teachershow/tags/MDAwMDAwMDAwMLKIet0',
  },
  {
    name: 'Zheng Ma',
    affiliation: 'Shanghai Jiao Tong University',
    url: 'https://zheng-homepage.netlify.app/',
  },
  {
    name: 'Zhi-Qin John Xu',
    affiliation: 'Shanghai Jiao Tong University',
    url: 'https://ins.sjtu.edu.cn/people/xuzhiqin/',
  },
  {
    name: 'Yaoyu Zhang',
    affiliation: 'Shanghai Jiao Tong University',
    url: 'https://yaoyuzhang1.github.io/',
  },
]
---

<Layout title="Committee Members">
  <h1 class="mb-6 pt-5 text-center text-2xl font-semibold">
    Committee Members (Alphabetical Order)
  </h1>
  <div class="mt-15 px-4">
    {
      members.map(member => {
        const isFirst = members.indexOf(member) === 0
        return (
          <div
            class:list={[
              'flex flex-col items-center gap-1 border-b-2 border-gray-300 py-4 md:flex-row md:justify-between dark:border-gray-600',
              { 'border-t-2': isFirst },
            ]}
          >
            <div>
              <a href={member.url} class="text-lg font-semibold">
                {member.name}
              </a>
            </div>
            <div class="text-gray-600 dark:text-gray-400">
              {member.affiliation}
            </div>
          </div>
        )
      })
    }
    <div class="mt-10"></div>
  </div>
</Layout>
