---
import { Image } from 'astro:assets'
import Persona from '../assets/persona.jpg'
import BackToTopButton from '../components/BackToTopButton'
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Prose from '../components/Prose.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <section
        class="mx-auto flex h-80 max-w-3xl items-center justify-center px-4"
      >
        <Image
          src={Persona}
          alt="Portrait of Zheng Ma"
          class="mx-4 h-60 w-60 rounded-full border-4 border-orange-300 object-cover dark:border-zinc-600"
          layout="constrained"
          priority
        />
        <div class="prose dark:prose-invert m-auto">
          <h1 class="mb-4 text-4xl font-semibold">
            Zheng Ma <span class="font-sans-cn font-semibold">(马 征)</span>
          </h1>
          <p class="text-lg text-gray-600 dark:text-gray-400">
            Mathmatician and Tech Enthusiast
          </p>
        </div>
      </section>
      <Prose className="mx-auto my-12 max-w-3xl px-4">
        <p class="indent-8">
          I am an associate professor at the School of Mathematical Sciences,
          Shanghai Jiao Tong University. My research interests include geometric
          analysis, partial differential equations, and mathematical general
          relativity. I am particularly interested in the interplay between
          geometry and physics, and how geometric methods can be applied to
          solve problems in mathematical physics. <a href="/cv.pdf"
            >Full CV here</a
          >
          <p>
            <p>
              <span class="font-semibold">2020 - present:</span> Tenured-Track Associate
              Professor, School of Mathematical Sciences,
              <span class="italic">Shanghai Jiao Tong University,</span>
            </p>
            <p>
              <span class="font-semibold">2017 - 2020:</span> Golomb Visiting Assistant
              Professor, Department of Mathematics,
              <span class="italic">Purdue University, </span> U.S.
            </p>
          </p>
          <h2>Education</h2>
          <p>
            <span class="font-semibold">2012 - 2017:</span> Ph.D. in Mathematics,
            <span class="italic">Shanghai Jiao Tong University, </span> China
            <p>
              <span class="font-semibold">2008 - 2012:</span> B.S. in Mathematics,
              Zhiyuan College,
              <span class="italic">Shanghai Jiao Tong University,</span>
              China
            </p>
          </p>
        </p>
      </Prose>
      <BackToTopButton client:idle />
      <Footer />
    </main>
  </Body>
</html>
