---
import { Image } from 'astro:assets'
import { IoLogoGithub } from 'react-icons/io5'
import Logo from '../assets/cat.png'
import DropdownMenu from './DropdownMenu'
import HeaderLink from './HeaderLink.astro'
import ThemeToggle from './ThemeToggleButton'

const headerLinks = [
  { href: '/about', text: 'About' },
  { href: '/committee', text: 'Committee' },
  { href: '/submission', text: 'Submission' },
  { href: 'mailto:xuzhiqin@sjtu.edu.cn', text: 'Contact' },
  { href: 'https://github.com/dlphenomena', text: 'Repos' },
]
---

<header
  class="fixed z-20 w-full p-2 backdrop-blur-md transition-shadow duration-300"
>
  <div class="mx-auto max-w-4xl">
    <nav class="flex items-center gap-3">
      <a href="/" class="group flex flex-auto items-center">
        <Image
          class="h-8 w-8 rounded-full dark:invert"
          src={Logo}
          alt="Logo"
          layout="constrained"
          priority
        />
        <h2 class="p-2 text-lg font-semibold tracking-tighter">Home</h2>
      </a>
      <div class="hidden items-center gap-6 md:flex">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/committee">Committee</HeaderLink>
        <HeaderLink href="/submission">Submission</HeaderLink>
        <HeaderLink href="mailto:xuzhiqin@sjtu.edu.cn">Contact</HeaderLink>
        <HeaderLink href="https://github.com/dlphenomena" target="_blank"
          ><IoLogoGithub />Repos</HeaderLink
        >
      </div>
      <div class="flex-1"></div>
      <ThemeToggle client:load />
      <DropdownMenu tags={headerLinks} className="md:hidden" client:visible />
    </nav>
  </div>
</header>
