---
import masterHeadImage from '../images/placeholder-hero.jpg'
const isProd = import.meta.env.PROD
---

<section class="relative mb-6 flex h-80 items-center justify-center">
  <div
    class="absolute flex h-full w-full justify-center overflow-hidden bg-blue-50/50 dark:bg-zinc-900"
  >
    <img
      src={masterHeadImage.src}
      class="w-full rounded object-cover opacity-30"
    />
  </div>
  <div class="z-10 px-8 text-center shadow-black drop-shadow-lg">
    <div class="mb-4 text-sm uppercase">Welcome to</div>
    <div class="font-mplus text-4xl font-medium">
      Deep Learning <span class="text-orange-500">phenomenoa</span>
    </div>
  </div>
</section>
