---
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card.tsx'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<section class="prose-ul:list-none prose-ul:-ml-6">
  <ul
    class="grid auto-rows-fr grid-cols-1 gap-6 md:grid-cols-2 md:items-stretch"
  >
    {
      posts.map((post: any) => {
        return (
          <li>
            <a href={`/blog/${post.id}/`}>
              <Card className="h-full flex flex-col ">
                <CardHeader>
                  <CardTitle className="text-xl font-bold">
                    {post.data.title}
                  </CardTitle>
                </CardHeader>
                <CardContent className="flex-1">
                  {post.data.description && (
                    <div class="opacity-70">{post.data.description}</div>
                  )}
                </CardContent>
                <CardFooter className="mb-2">
                  <p class="date font-mono text-xs opacity-70">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </CardFooter>
              </Card>
            </a>
          </li>
        )
      })
    }
  </ul>
</section>
