---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import PageLayout from './PageLayout.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, heroImage, author } = Astro.props
---

<PageLayout>
  <div class="mb-8">
    {
      heroImage && (
        <Image
          class="w-full rounded border border-slate-300 dark:border-zinc-700"
          src={heroImage}
          alt="Hero"
          layout="full-width"
          priority
        />
      )
    }
  </div>
  <h1>{title}</h1>
  <p>{description}</p>
  <p class="opacity-75">Contributor: {author}</p>
  <hr />
  <slot />
</PageLayout>
