---
import { getCollection } from 'astro:content'
import Breadcrumb from '../components/Breadcrumb.astro'
import PostCards from '../components/PostCards.astro'
import PageLayout from './PageLayout.astro'

export interface Props {
  category: string
}

const { category } = Astro.props

const posts = (
  await getCollection('blog', ({ data }) => {
    return data.tags?.includes(category)
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<PageLayout>
  <div class="pt-5"><Breadcrumb>{category}</Breadcrumb></div>
  <PostCards posts={posts} />
</PageLayout>
