---
import BackToTopButton from '../components/BackToTopButton'
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { SITE_TITLE } from '../consts'

const { title, description, heroImage } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title + ` / ${SITE_TITLE}`}
      description={description ? description : SITE_TITLE}
      image={heroImage?.src}
    />
  </head>
  <Body>
    <Header />
    <main class="pt-[56px]">
      <Content className="pt-12">
        <slot />
      </Content>
      <BackToTopButton client:idle />
    </main>
    <Footer />
  </Body>
</html>
