---
import Content from '../components/Content.astro'
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout>
  <main class="pt-14">
    <Content>
      <slot />
    </Content>
  </main>
</BaseLayout>
